.u-section-1 .u-sheet-1 {min-height: 380px}.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-text-1 {font-size: 1.875rem; width: 175px; margin: 43px auto 0}
.u-section-2 .u-custom-html-1 {min-height: 461px; height: auto; width: 346px; margin: 28px auto 60px} 

@media (max-width: 575px){ .u-section-2 .u-custom-html-1 {width: 340px} }